body {
    margin: 0;
    padding: 0;
    background-color: #975b11;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    font-size: 76px;
    font-weight: 700;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-120%);
    text-align: center;
}