body {
    margin: 0;
    padding: 0;
    background-color: #12b0c5;
    
}

h2 {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 90px;
    font-weight: bold;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-120%);
    text-align: center;
}